<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<p th:if="${error != null}" th:text="${error}"></p>
<form method="post" action="/user/add">
    <div class="form-group">
        <label>Email Address:
            <input type="email" name="email" class="form-control" th:value="${email}">
        </label>
    </div>

    <div class="form-group">
        <label>Username:
            <input type="text" name="username" class="form-control" th:value="${username}">
        </label>
    </div>

    <div class="form-group">
        <label>Password:
            <input type="password" name="password" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <label>Verify password:
            <input type="password" name="verify" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <input type="submit" value="Add User" class="btn btn-success">
    </div>
</form>



</body>
</html>